name: Check

on:
  push:
    branches:
      - "main"
  pull_request_target:
    branches: [ "main" ]

jobs:
  statics:
    runs-on: ubuntu-latest
    timeout-minutes: 8
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - run: |
          make install-tools
          make check
          make test
